<!doctype html>
<html>
  <head>
    <title>Gist Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Include the highlight.js library and style sheets -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/styles/night-owl.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/highlight.min.js"></script>
  </head>
  <body>
    <div class="gist-container">
      <h1>{{ gist.description }}</h1>
      {% for file in files %}
        {# Extract the file extension from the filename #}
        {% set file_ext = file.filename.split('.')[-1] %}
        {# Get the logo from the logo map #}
        {% set logo = logoMap[file_ext] %}
        {# Display the language tag #}
        <div class="language-tag" style="display: flex; align-items: center;">
          <div style="width: 20px; height: 20px; background-color: {{ logo.color }}; border-radius: 50%; margin-right: 8px;"></div>
          {{ logo.name }}
        </div>
        <!-- Add the "hljs" class to the code element -->
        <pre><code class="hljs language-{{ file_ext }}">{{ file.content }}</code></pre>
      {% endfor %}
    </div>
    <!-- Initialize highlight.js -->
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
