<!doctype html>
<html>
  <head>
    <title>Gist Finder</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>Gist Finder</h1>
    <form method="POST" action="{{ url_for('search') }}">
      <label for="username">Enter a username:</label>
      <input type="text" name="username" id="username">
      <input type="submit" value="Search">
    </form>
    <div id="root"></div>
  </body>
  <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="/static/app.js"></script>
  <script>
    import GistFinder from '/static/app';
    import ReactDOM from 'react-dom';
    import { BrowserRouter } from 'react-router-dom';
    ReactDOM.render(
      <BrowserRouter>
        <GistFinder gists={gists} />
      </BrowserRouter>,
      document.getElementById('root')
    );
  </script>
</html>
