<!doctype html>
<html>
  <head>
    <title>Gist Finder</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
      <div style="text-align: center;">
        <h1 style="font-size: 3em;">Gist Finder</h1>
        <form method="POST" action="{{ url_for('search') }}">
          <label style="font-size: 1.5em;" for="username">Enter a username:</label>
          <br>
          <input style="font-size: 1.5em; width: 15em;" type="text" name="username" id="username">
          <br>
          <br>
          <input style="font-size: 1.5em; width: 15em;" type="submit" value="Search">
        </form>
      </div>
    </div>
    <div id="root"></div>
  </body>
</html>